# set
it is unordered data type/collection
can have any data type
priority varies unpredictably
duplicates not allowed here

In [1]:
s={"keya",1,23.3,3}

In [2]:
s

{1, 23.3, 3, 'keya'}

In [5]:
s={1,2,3,4,5,56,56,56,56}

In [6]:
s

{1, 2, 3, 4, 5, 56}

In [7]:
s[0] #immutable

TypeError: 'set' object is not subscriptable

In [8]:
5 in s

True

In [9]:
34 in s

False

In [10]:
34 not in s

True

In [13]:
a=set("kakakA")  #upper case lower case order

In [14]:
a

{'A', 'a', 'k'}

In [15]:
a={1,2,3,4,5}
b={4,5,6,7,8}

In [16]:
a&b

{4, 5}

In [17]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
a-b

{1, 2, 3}

In [19]:
b-a

{6, 7, 8}

In [25]:
set(a and b)

{4, 5, 6, 7, 8}

In [21]:
a or b

{1, 2, 3, 4, 5}

In [24]:
a

{1, 2, 3, 4, 5}

In [26]:
a.intersection (b)

{4, 5}

In [27]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
a.difference(b)

{1, 2, 3}

In [32]:
a^b

{1, 2, 3, 6, 7, 8}

In [34]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [35]:
l=range(10)

In [36]:
l

range(0, 10)

In [37]:
list(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
set(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
s=set(l)

In [41]:
s.add(100)

In [42]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [43]:
s.update({1,2,3,10}) # not updates 1,2,3 since they already exixts

In [44]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [45]:
s.remove(100)

In [46]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
new=dict(enumerate(s))

In [53]:
new

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [54]:
list(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
s.pop(1) #not work as no indexing

TypeError: pop() takes no arguments (1 given)

In [56]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
{1,2,3}.pop() # discards first element

1

In [62]:
{1,2,3,4,5}.discard(1)

In [63]:
fs=frozenset(s)

In [64]:
fs

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [65]:
fs.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [66]:
fs.discard(100)

AttributeError: 'frozenset' object has no attribute 'discard'

# Tuples

In [68]:
m=()

In [69]:
type(m)

tuple

In [70]:
m=10,20,39,4

In [71]:
m

(10, 20, 39, 4)

In [72]:
n=1,2,3 #converting to tuple

In [73]:
n

(1, 2, 3)

In [74]:
m=tuple("hi")

In [75]:
m

('h', 'i')

In [79]:
m=1,2,3
x,y,z=m
print(x,y,z)

1 2 3

In [80]:
k=([1,2,3])
l=([1,2,3],)

In [81]:
type(k)

list

In [82]:
type(l)

tuple

In [85]:
print(*(9,10))

9 10

In [89]:
t=tuple(x for x in range(10))

In [90]:
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [91]:
t[0]

0

In [92]:
t[0]==0

True

In [93]:
t[0]=1 #immutable

TypeError: 'tuple' object does not support item assignment

In [94]:
t2=(1,2,[1,2,3])

In [95]:
t2[2]

[1, 2, 3]

In [96]:
t2[2][0]=10

In [97]:
t2

(1, 2, [10, 2, 3])

In [98]:
t2.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [99]:
del t2[2][1]

In [100]:
t2

(1, 2, [10, 3])

In [101]:
del t2

In [102]:
t2

NameError: name 't2' is not defined