In [1]:
from string import Template

In [2]:
s=Template('$who likes $what')

In [3]:
s.substitute(who="keyan",what="Python")

'keyan likes Python'

In [5]:
s.substitute(who=input(),what=input())

keyan
All

'keyan likes All'

In [8]:
x='15'

In [14]:
int(x,base=116)

ValueError: int() base must be >= 2 and <= 36, or 0

In [15]:
"keya".capitalize() #first letter only

'Keya'

In [16]:
str.capitalize("karthi")

'Karthi'

In [18]:
print('\thi')

	hi

In [24]:
name="\tkeya"
name.expandtabs(20)

'                    keya'

In [25]:
name='karthi keyan'

In [36]:
print(name.find("keyan"))
print(name.index("keyan")) # same only

7
7

In [30]:
name.find("ke",5,) #use index also

7

In [31]:
name.rfind("key") #reverse find

7

In [33]:
name.find("ko")
name.index("ko")

ValueError: substring not found

In [37]:
name.split()

['karthi', 'keyan']

In [39]:
"123k123k123".split("k")

['123', '123', '123']

In [40]:
"123k123k123".split("k",1)

['123', '123k123']

In [43]:
"karthi keya T".rsplit(" ",1) #reverse split

['karthi keya', 'T']

In [49]:
name.join("kart")

'kkarthi keyanakarthi keyanrkarthi keyant'

In [53]:
l=[x for x in range(10)]
t=tuple(l)

In [54]:
t.join("")

AttributeError: 'tuple' object has no attribute 'join'

In [61]:
name="-----keya-----"

In [62]:
print(name.strip("-")) #all remove

keya

In [64]:
print(name.lstrip("-")) # left remove

keya-----

In [65]:
print(name.rstrip("-"))  #right remove

-----keya

In [66]:
name.swapcase()

'-----KEYA-----'

In [67]:
"_".upper() == "_".lower()

True

In [69]:
name="karthik and his unknown"

In [71]:
name.replace("unknown","someone")

'karthik and his someone'

In [72]:
s1="this that those"

In [74]:
s1.replace("t","w",2)

AttributeError: 'str' object has no attribute 'rreplace'

# lists

In [75]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [83]:
l[::-2]

[9, 7, 5, 3, 1]